<% if (locals.messages) { %>
  <div class="alertas">
  <% for (const elem in locals.messages) {%>
    <% messages[elem].forEach(el =>  { %>
      <div class="alerta <%= elem %>"><p><%= el %></p></div>
    <% }) %>
  <% } %>
</div>
<% } %>